body {
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    background-color: #D8E3E7;   
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    background-color: #51C4D3;
}
section{
    display: flex;
    align-items: center;
    justify-content: center;
}
section a {
    color: rgb(33, 37, 41);
    text-decoration: none;
}

section a:hover {
    color: #126E82;
}

li {
        margin-bottom: 5px;
        list-style-type: none;
}

nav {
    margin: 20px;
}
nav a {
    text-decoration: none;
}
nav a:hover {
    color: #126E82;
}

p {
    margin: 20px;
}

button {
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #4676D7;
  color: #fff;
  padding: 8px 16px;
  font-size: 16px;
}

button:hover {
    background: #1d49aa;
}

input {
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 5px;
}

label {
    margin-left: 20px;
}
